<h3 id="anc--embed-deezer">Deezer</h3>

<p>Playlist</p>
<div class="embed">
    {% include namespace ~ 'component/embed/deezer.twig' with {
        'art': {
            'id': '001',
            'type': 'playlist',
            'src': '30595446',
            'gdpr': {
                'barrier': {
                    'btn': 'show Playlist'
                },
                'usr_link': {
                    'href': 'https://www.deezer.com/en/playlist/30595446',
                }
            }
        }
    } %}
</div>

<p>Album</p>
<div class="embed">
    {% include namespace ~ 'component/embed/deezer.twig' with {
        'art': {
            'id': '001',
            'type': 'album',
            'src': '119606',
            'gdpr': {
                'barrier': {
                    'btn': 'show Album'
                },
                'usr_link': {
                    'href': 'https://www.deezer.com/en/album/119606',
                }
            }
        }
    } %}
</div>

<p>Track</p>
<div class="embed">
    {% include namespace ~ 'component/embed/deezer.twig' with {
        'art': {
            'id': '001',
            'type': 'track',
            'src': '3135556',
            'gdpr': {
                'barrier': {
                    'btn': 'show Track'
                },
                'usr_link': {
                    'href': 'https://www.deezer.com/en/track/3135556',
                }
            }
        }
    } %}
</div>

<p>Podcast</p>
<div class="embed">
    {% include namespace ~ 'component/embed/deezer.twig' with {
        'art': {
            'id': '001',
            'type': 'podcast',
            'src': '49401',
            'gdpr': {
                'barrier': {
                    'btn': 'show Podcast'
                },
                'usr_link': {
                    'href': 'https://www.deezer.com/en/show/49401',
                }
            }
        }
    } %}
</div>

<p>Episodes</p>
<div class="embed">
    {% include namespace ~ 'component/embed/deezer.twig' with {
        'art': {
            'id': '001',
            'type': 'episodes',
            'src': '1016697',
            'gdpr': {
                'barrier': {
                    'btn': 'show Episodes'
                },
                'usr_link': {
                    'href': 'https://www.deezer.com/en/episode/1016697',
                }
            }
        }
    } %}
</div>

<p>Mix, having no user-link/default-link</p>
{# no user-link, don't know what that link is at mix #}
<div class="embed">
    {% include namespace ~ 'component/embed/deezer.twig' with {
        'art': {
            'id': '001',
            'type': 'mix',
            'src': 'radio-37635',
            'gdpr': {
                'barrier': {
                    'btn': 'show Mix'
                }
            }
        }
    } %}
</div>

<p>Artist</p>
<div class="embed">
    {% include namespace ~ 'component/embed/deezer.twig' with {
        'art': {
            'id': '001',
            'type': 'artist',
            'src': 'artist-27',
            'gdpr': {
                'barrier': {
                    'btn': 'show Artist'
                },
                'usr_link': {
                    'href': 'https://www.deezer.com/de/artist/27',
                }
            }
        }
    } %}
</div>

<p>Charts, also no user-link</p>
<div class="embed">
    {% include namespace ~ 'component/embed/deezer.twig' with {
        'art': {
            'id': '001',
            'type': 'charts',
            'src': '0&title=All',
            'gdpr': {
                'barrier': {
                    'btn': 'show Charts'
                }
            }
        }
    } %}
</div>