<h3 id="anc--embed-github">GitHub</h3>

<div class="embed">
    {% include namespace ~ 'component/embed/github-gist.twig' with {
        'gist': {
            'id': '001',
            'src': 'mbecker-bemit/52de4c7acfc170e96e0ccedb6e4df8aa',
            'gdpr': {
                'barrier': {
                    'btn': 'show Gist'
                },
                'usr_link': {
                    'href': 'https://gist.github.com/mbecker-bemit/52de4c7acfc170e96e0ccedb6e4df8aa',
                }
            }
        }
    } %}
</div>