<h3 id="anc--embed-sassmeister">SassMeister</h3>

<div class="embed">
    {% include namespace ~ 'component/embed/sassmeister.twig' with {
        'gist': {
            'id': '001',
            'src': 'c0b32bf4485b6e72a40e65d88f489e2b',
            'gdpr': {
                'barrier': {
                    'btn': 'show Sass Gist'
                },
                'usr_link': {
                    'href': 'https://www.sassmeister.com/gist/c0b32bf4485b6e72a40e65d88f489e2b',
                }
            }
        }
    } %}
</div>