<h3 id="anc--embed-googlemaps">Google Maps</h3>

<p>Feature `auto_check`: Google Maps is configured to check and hide the checkbox inside the barrier after first one was loaded.</p>

<div class="google-maps">
    {% include namespace ~ 'component/embed/google-map.twig' with {
        'google_maps': {
            'id': 1,
            'type': 'embed',
            'embed': '!1m18!1m12!1m3!1d3681250.166652592!2d9.23146436736694!3d50.4219447789861!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479a721ec2b1be6b%3A0x75e85d6b8e91e55b!2sDeutschland!5e0!3m2!1sde!2sde!4v1525126132466',
            'gdpr': {
                'usr_link': {
                    'href': 'https://goo.gl/maps/T82BiBnYiCL2',
                }
            }
        }
    } %}

    <p>And another one but without borders, with preview image as `img`</p>

    {% include namespace ~ 'component/embed/google-map.twig' with {
        'google_maps': {
            'id': 2,
            'type': 'embed',
            'embed': '!1m18!1m12!1m3!1d3681250.166652592!2d9.23146436736694!3d50.4219447789861!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479a721ec2b1be6b%3A0x75e85d6b8e91e55b!2sDeutschland!5e0!3m2!1sde!2sde!4v1525126132466',
            'gdpr': {
                'border': false,
                'preview': {
                    'img':
                    {
                        'src': url.asset ~ 'media/google-maps-preview.jpg',
                        'alt': 'Maps Preview Image'
                    },
                },
                'usr_link': {
                    'href': 'https://goo.gl/maps/T82BiBnYiCL2',
                }
            }
        }
    } %}

    <p>And another one but without borders, with preview image as `style` `background`</p>

    {% include namespace ~ 'component/embed/google-map.twig' with {
        'google_maps': {
            'id': 3,
            'type': 'embed',
            'embed': '!1m18!1m12!1m3!1d3681250.166652592!2d9.23146436736694!3d50.4219447789861!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479a721ec2b1be6b%3A0x75e85d6b8e91e55b!2sDeutschland!5e0!3m2!1sde!2sde!4v1525126132466',
            'gdpr': {
                'border': false,
                'preview': {
                    'img':
                    {
                        'src': url.asset ~ 'media/google-maps-preview.jpg',
                        'bg': true
                    },
                },
                'usr_link': {
                    'href': 'https://goo.gl/maps/T82BiBnYiCL2',
                }
            }
        }
    } %}

    <p>And another one but without borders, with preview image as `style` `background` and preview html</p>

    {% include namespace ~ 'component/embed/google-map.twig' with {
        'google_maps': {
            'id': 3,
            'type': 'embed',
            'embed': '!1m18!1m12!1m3!1d3681250.166652592!2d9.23146436736694!3d50.4219447789861!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479a721ec2b1be6b%3A0x75e85d6b8e91e55b!2sDeutschland!5e0!3m2!1sde!2sde!4v1525126132466',
            'gdpr': {
                'border': false,
                'preview': {
                    'img':
                    {
                        'src': url.asset ~ 'media/google-maps-preview.jpg',
                        'bg': true,
                        'html': '<b>Some Text</b>'
                    },
                },
                'usr_link': {
                    'href': 'https://goo.gl/maps/T82BiBnYiCL2',
                }
            }
        }
    } %}
</div>