<h3 id="anc--embed-tumblr">Tumblr</h3>

<p>Currently Tumblr throws an X-FRAME denied, even when using native embed code. Thous not working.</p>
<p>Native means not from js generated, the js uses tumblr SDK and this creates the not working iframe.</p>
<div class="embed">
    {% include namespace ~ 'component/embed/tumblr.twig' with {
        'post': {
            'id': '002',
            'src': 'r_BTLFg8QzTPUMVSbe3vbg/107419673555',
            'did': '91445e02b350cbe0cb0c613fc0dc0d40c92f484a',
            'gdpr': {
                'barrier': {
                    'btn': 'show Post'
                },
                'usr_link': {
                    'href': 'https://staff.tumblr.com/post/107419673555/look-at-that-gif-up-above-thats-a-post',
                }
            }
        }
    } %}
</div>