<h3 id="anc--embed-facebook">Facebook</h3>
<p>Post</p>
<div class="embed">
    {% include namespace ~ 'component/embed/facebook--post.twig' with {
        'post': {
            'id': '9gag/photos/a.109041001839.105995.21785951839/10157614130931840',
            'gdpr': {
                'barrier': {
                    'btn': 'show Post'
                },
                'usr_link': {
                    'href': 'https://www.facebook.com/9gag/photos/a.109041001839.105995.21785951839/10157614130931840/',
                }
            }
        }
    } %}
</div>