<div class="header--top">
    <aside class="nav-service">
        {% include namespace ~ 'fragment/nav-service.twig' with {'list': nav_service.list} %}
    </aside>
</div>
<div class="header--content">
    <div class="inner">
        {% include namespace ~ 'fragment/nav-header.twig' with {'list': nav_header.list} %}
    </div>
</div>